/.clangd
/compile_commands.json
*.cmake
CMakeCache.txt
CMakeFiles
Makefile
*.ninja
\.cache
\.ninja_*
Testing
build
.vscode
*.vcxproj
*.vcxproj.filters
nanothread.sln
nanothread.dir
Release
Debug

libnanothread.so
libnanothread.dylib
nanothread.dll
tests/test_0[1-4]
