/.clangd
/compile_commands.json
*.cmake
CMakeCache.txt
CMakeFiles
Makefile
*.ninja
\.ninja_*
Testing
build
.vscode
*.vcxproj
*.vcxproj.filters
enoki-thread.sln
enoki-thread.dir
Release
Debug

libenoki-thread.so
libenoki-thread.dylib
enoki-thread.dll
